<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% cssFiles.forEach(function(cssFile){ %>
        <link rel="stylesheet" href="/css/<%= cssFile %>">
    <%});%>
    
    <title>Document</title>
</head>

<body>
    <div class='navbar'>
        <div class="icon">icon</div>
        <div class='navlist'>
            <ul>
                <span id='user-id' style="display: none;"><%= user._id %></span>
                <span id='user-email' style="display: none;"><%= user.email %></span>
                <li><a href="/home">Home</a></li>
                <li><a href="/chats">Chats</a></li>
                <li><a href="/notifications">Notifications</a></li>
                <li><a href="/myCart">My Cart</a></li>
                <li><a href="/sellItem">Sell Item</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>