*{
    margin: 0px;
    padding: 0px;
    color: black;
}
.navbar{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: teal;
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    font-size: 20px;
    z-index: 1;
}
.icon{
    position: absolute;
    left: 10px;
    border: 1px solid black;
    margin: auto 15px;
}
.navlist{
    position: absolute;
    right: 10px;
    margin: auto;
}
.navlist ul{
    list-style: none;
    display: flex;
}

.navlist ul li a{
    /* padding: 5px; */
    border: 1px solid black;
    margin: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}
.navlist ul li a:hover{
    text-decoration: underline;
}
.stage{
    /* display: flex; */
    height: 190vh;
    overflow: hidden;
    border: 1px solid black;
    /* position: sticky;
    top: 0; */
}
.left-stage{
    position: absolute;
    left: 0%;
    height: 190vh;
    width: 20%;
    border: 1px solid blue;
    /* flex-grow: 1; */
    /* position: sticky;
    top: 100px; */
}
.center-stage{
    position: absolute;
    left: 20%;
    height: 190vh;
    width: 60%;
    border: 1px solid red;
    /* flex-grow: 2.5; */
}
.content-area{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    border: 1px solid purple;
}
.init{
    border: 1px solid blue;
    margin: 10px;
}




.form-group{
    margin: 15px 0px;
    font-size: 20px;
}

.imageArea{
    position: relative;
    border: 1px solid black;
    height: 300px;
}
.img-left{
    position: absolute;
    left: 0;
    height: 100%;
    width: 5%;
    opacity: 0.5;
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
}
.img-right{
    
    position: absolute;
    right: 0;
    height: 100%;
    width: 5%;
    opacity: 0.5;
    cursor: pointer;
}
.del-img{
    position: absolute;
    right: 6%;
    opacity: 0.5;
}
.img-index{
    border: 1px solid tomato;
    /* position: absolute; */
    /* right: 6%; */
    /* bottom: 0; */
    background-color:transparent;
    z-index: 2;
    color: white;
}
.img-nums{
    border: 1px solid tomato;
    position: absolute;
    right: 6%;
    bottom: 0;
    background-color:transparent;
    z-index: 2;
    color: white;
}
.img-tot{
    border: 1px solid tomato;
   
    background-color:transparent;
    z-index: 2;
    color: white;
}
#img{
    display: none;
}

.inputText{
    font-size: 15px;
}

.imageArea{
    border: 1px solid black;
    height: 300px;
}
img{
    width: 100%;
    height: 100%;
}

/* #img{
    display: none;
} */
.add-img{
    border: 1px solid black;
    background: lightgrey;
    border-radius: 4px;
    margin: 15px;
}
.textArea{
    width: 100%;
}
.submit-btn{
    padding: 5px;
    width: 30%;
    margin-top: 10%;
    margin-left: 35%;
    font-size: 20px;
}
.right-stage{
    
    position: absolute;
    left: 80%;
    height: 190vh;
    width: 20%;
    border: 1px solid blue;
    /* flex-grow: 1; */
}